/* public/css/budget_styles.css */

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Budget Container */
.dashboard-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Heading Styles */
h1 {
    color: #004080;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    margin: 40px;
    margin-left: 24em;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px;
    border: 1px solid black;
    background-color: #fff;
    align-items: stretch;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    width: 100%;
    max-width: 400px;
}

.dashboard-container select,
.dashboard-container input[type="number"],
.dashboard-container input[type="submit"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.dashboard-container input[type="submit"] {
    background-color: #004080;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-container input[type="submit"]:hover {
    background-color: #003366;
}

/* Budget Table Styles */
#budget-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#budget-table th,
#budget-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#budget-table th {
    background-color: #004080;
    color: white;
}

#budget-table td {
    color: #333;
}

/* Additional Element Styling */
button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003366;
}


/* Footer Styles */
footer {
    background-color: #000; /* Dark blue */
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2em;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}