/* user_header.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000; /* Black for header background */
    color: #fff; /* White text color */
    padding: 10px 0; /* Adjusted padding */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px; /* Adjusted height */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
}

header nav ul li {
    margin: 0 10px; /* Adjusted margin */
}

header nav ul li a {
    color: #fff; /* White text color for links */
    text-decoration: none;
    padding: 10px 15px; /* Increased padding for better click area */
    border-radius: 5px; /* More rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #444;
    color: #dc143c; /* Highlight color on hover */
}

.theme-switcher {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.theme-switcher label {
    margin-right: 10px;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
