
header {
    background-color: #000; /* Black for header background */
    color: #fff; /* White text color */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align the nav items */
}

header nav ul li {
    display: inline-block; /* Inline-block for horizontal alignment */
    margin-left: 20px;
}

header nav ul li a {
    color: #fff; /* White text color for links */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #444; /* Change background on hover */
    text-decoration: none;
    color: #dc143c; /* Change text color on hover */
}

.theme-switcher {
    display: inline-block;
    margin-left: 20px;
}

.theme-switcher label {
    margin-right: 10px;
    color: #fff;
}

